<div class="container mt-4">
  <div class="row">
    <h1>{{ user.firstName }}'s Profile</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ user.photoUrl || '../../../assets/user.png' }}"
          alt="{{ user.firstName }}"
        />
        <div class="card-body">
          <div>
            <strong>Name:</strong>
            <p>{{ user.firstName }} {{ user.lastName }}</p>
          </div>
          <div>
            <strong>Address:</strong>
            <p>{{user.street}}<br>{{user.city}}<br>{{user.state}}<br>{{user.country}}</p>
          </div>
          <div>
            <strong>Email:</strong>
            <p>{{user.email}}</p>
          </div>
          <div>
            <strong>Phone Number:</strong>
            <p>{{user.phoneNumber}}</p>
          </div>
          <!-- <div>
            <div>
              <strong>Phone Number:</strong>
              <p>{{ user.city }}, {{ user.country }}</p>
            </div>
            <strong>Location:</strong>
            <p>{{ user.city }}, {{ user.country }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{ user.lastActive }}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{ user.created }}</p>
          </div> -->
        </div>
        <!--<div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-success w-100">Message</button>
          </div>
        </div>-->
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About {{ user.firstName }}">
            <h6>Student's Status:</h6>
            <p>{{user.currentAcademicLevel}}</p>
            <h6>Student ID:</h6>
            <p>{{user.userName}}</p>
            <h6>First Name:</h6>
            <p>{{user.firstName}}</p>
            <h6>Middle Name:</h6>
            <p>{{user.middleName || "none"}}</p>
            <h6>Last Name:</h6>
            <p>{{user.lastName}}</p>
            <h6>CS Degree Program:</h6>
            <p>{{user.degreeProgram}}</p>
            <h6>Current Program:</h6>
            <p>{{user.currentProgram}}</p>
            <h6>Current Academic Level:</h6>
            <p>{{user.currentAcademicLevel}}</p>
            <h6>Email:</h6>
            <p>{{user.email}}</p>
            <h6>Phone Number 1:</h6>
            <p>{{user.phoneNumber}}</p>
            <h6>Phone Number 2:</h6>
            <p>{{user.phoneNumber2 || "none"}}</p>
            <h6>Notes:</h6>
            <p>{{user.notes}}</p>
            <!-- <p>{{user.introduction}}</p>
            <h4>Looking For</h4>
            <p>{{user.lookingFor}}</p> -->
          </tab>
          <tab heading="Bachelor's Details">
            <!-- <h4>Interests</h4>
            <p>{{user.interests}}</p> -->
            <h6>Start Date:</h6>
            <p>{{user.bachelorsStartDate}}</p>
            <h6>Faculty Mentor:</h6>
            <p>{{user.bachelorsMentor}}</p>
            <h6>Senior Project Advisor:</h6>
            <p>{{user.bachelorsProjectAdvisor}}</p>
            <h6>Senior Thesis Advisor:</h6>
            <p>{{user.bachelorsThesisAdvisor}}</p>
            <h6>Senior Project Title:</h6>
            <p>{{user.bachelorsProjectTitle}}</p>
            <h6>Senior Thesis Title:</h6>
            <p>{{user.bachelorsThesisTitle}}</p>
            <h6>BA/BS Graduation Date:</h6>
            <p>{{user.bachelorsGradDate}}</p>
          </tab>
          <tab heading="Master's Details">
            <h6>Master's Focus:</h6>
            <p>{{user.mastersFocus}}</p>
            <h6>Start Date:</h6>
            <p>{{user.mastersStartDate}}</p>
            <h6>Master's Project Advisor:</h6>
            <p>{{user.mastersProjectAdvisor}}</p>
            <h6>Master's Thesis Advisor:</h6>
            <p>{{user.mastersThesisAdvisor}}</p>
            <h6>Committee Member 1:</h6>
            <h6>Committee Member 2:</h6>
            <h6>Committee Member 3:</h6>
            <h6>Committee Member 4:</h6>
            <h6>Committee Member 5:</h6>
            <h6>Committee Formed Date:</h6>
            <p>{{user.mastersCommitteeFormDate}}</p>
            <h6>Master's Defense Date:</h6>
            <p>{{user.mastersDefenseDate}}</p>
            <h6>Project Title:</h6>
            <p>{{user.mastersProjectTitle}}</p>
            <h6>Thesis Title:</h6>
            <p>{{user.mastersThesisTitle}}</p>
            <h6>Master's Graduation Date:</h6>
            <p>{{user.mastersGradDate}}</p>
          </tab>
          <tab heading="PhD Details">
            <h6>Doctoral Candidate:</h6>
            <p>{{user.doctoralCandidate}}</p>
            <h6>Start Date:</h6>
            <p>{{user.doctorateStartDate}}</p>
            <h6>Date Accepted for Candidacy:</h6>
            <p>{{user.dateAcceptedForCandidacy}}</p>
            <h6>Advisor:</h6>
            <p>{{user.doctorateAdvisor}}</p>
            <h6>External Advisor:</h6>
            <p>{{user.externalAdvisor}}</p>
            <h6>Committee Member 1:</h6>
            <h6>Committee Member 2:</h6>
            <h6>Committee Member 3:</h6>
            <h6>Committee Member 4:</h6>
            <h6>Committee Member 5:</h6>
            <h6>Committee Member 6:</h6>
            <h6>Dissertation Defense Date:</h6>
            <p>{{user.dissertationDefenseDate}}</p>
            <h6>Dissertation Title:</h6>
            <p>{{user.dissertationTitle}}</p>
            <h6>PhD Graduation Date:</h6>
            <p>{{user.doctorateGradDate}}</p>
          </tab>
          <tab heading="Photos">
            <ngx-gallery
              [options]="galleryOptions"
              [images]="galleryImages"
            ></ngx-gallery>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
