<div class="text-center mt-3">
  <h2>Results - {{ pagination.totalItems }} found</h2>
</div>

<div class="container mt-3">
  <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>

    <div class="input-group">
      <div class="input-group-prepend">
        <button type="button" style="width: 100px" name="role" class="btn btn-primary" [(ngModel)]="userParams.role"
          btnRadio="Student" (click)="loadUsers()">
          Students
        </button>
        <button type="button" style="width: 100px" name="role" class="btn btn-primary" [(ngModel)]="userParams.role"
          btnRadio="Faculty" (click)="loadUsers()">
          Faculty
        </button>
      </div>
      <select *ngIf="userParams.role == 'Student'" class="custom-select" style="width: 120px" id="searchOption" [(ngModel)]="userParams.searchBy" name="searchOption"
        (change)="loadUsers()">
        <option value="" disabled selected>Search By</option>
        <option *ngFor="let option of studentSearchOptions" [value]="option.value">
          {{ option.display }}
        </option>
      </select>
      <select *ngIf="userParams.role == 'Faculty'" class="custom-select" style="width: 120px" id="searchOption" [(ngModel)]="userParams.searchBy" name="searchOption"
        (change)="loadUsers()">
        <option value="" disabled selected>Search By</option>
        <option *ngFor="let option of facultySearchOptions" [value]="option.value">
          {{ option.display }}
        </option>
      </select>
      <input type="text" style="width: 200px" class="form-control" name="searchByInput"
        [(ngModel)]="userParams.searchByInput" (keyup)="handleInput($event)">
    </div>

    <div class="col">
      <div class="input-group float-right">
        <select class="custom-select" style="width: 160px" id="orderOption" [(ngModel)]="userParams.orderBy" name="orderOption"
          (change)="loadUsers()">
          <option value="" disabled selected>Order By</option>
          <option *ngFor="let option of orderByOptions" [value]="option.value">
            {{ option.display }}
          </option>
        </select>
        <select class="custom-select" style="width: 130px" id="itemsPerPage" [(ngModel)]="pagination.itemsPerPage"
          name="itemsPerPage" (change)="loadUsers()">
          <option value=10 selected>10 Per Page</option>
          <option value=20>20 Per Page</option>
          <option value=50>50 Per Page</option>
        </select>
      </div>
    </div>
  </form>

  <br />

  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>

</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>