<div class="container mt-5">
  <div class="list-group">
       <a *appHasRole="['Admin', 'Staff']" class="list-group-item" [routerLink]="['/register']">
            <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>&nbsp; Register User
        </a>
        <a *appHasRole="['Admin','Staff']" class="list-group-item" [routerLink]="['/admin']">
            <i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp; Role assignment / Delete User
        </a>
        <a *appHasRole="['Admin','Staff','Faculty']" class="list-group-item" [routerLink]="['/exitsurveysview']">
            <i class="fa fa-table fa-fw" aria-hidden="true"></i>&nbsp; View Exit Survey
        </a>
        <a *appHasRole="['Admin','Staff','Faculty']" class="list-group-item" [routerLink]="['/gradseniorsurveysview']">
            <i class="fa fa-table fa-fw" aria-hidden="true"></i>&nbsp; View Graduating Senior Survey
        </a>
        <a *appHasRole="['Admin', 'Staff', 'Advisor']" class="list-group-item" [routerLink]="['/thesisproject']">
            <i class="fa fa-pencil-square fa-fw" aria-hidden="true"></i>&nbsp; Update Thesis / Project Option
        </a>
        <a *appHasRole="['Admin','Student']"class="list-group-item" [routerLink]="['/exitsurveys']">
            <i class="fa fa-file fa-fw" aria-hidden="true"></i>&nbsp; Exit Survey (Fill)
        </a>
        <a *appHasRole="['Student']"class="list-group-item" [routerLink]="['/gradseniorsurveys']">
            <i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i>&nbsp; Graduating Senior Survey
        </a>
        <a *appHasRole="['Admin','Staff']"  class="list-group-item" [routerLink]="['/members']">
            <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; Students
        </a>
        <a *appHasRole="['Admin']"  class="list-group-item" >
            <i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Other Users
        </a>
        <a *appHasRole="['Admin', 'Staff']"  class="list-group-item" >
            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp; Course Scheduling
        </a>
    </div>
</div>
