<div class="container mt-5">
  <div class="list-group">
        <a class="list-group-item" [routerLink]="['/register']">
            <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>&nbsp; Register User</a>
        <a class="list-group-item">
            <i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp; Delete User</a>
        <a class="list-group-item" [routerLink]="['/exitsurveys']">
            <i class="fa fa-file fa-fw" aria-hidden="true"></i>&nbsp; Exit Survey</a>
        <a class="list-group-item" [routerLink]="['/gradseniorsurveys']">
            <i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i>&nbsp; Graduating Senior Survey</a>
        <a class="list-group-item" [routerLink]="['/thesisproject']">
            <i class="fa fa-pencil-square fa-fw" aria-hidden="true"></i>&nbsp; Update Thesis / Project Option</a>
        <a class="list-group-item" [routerLink]="['/members']">
            <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; Students</a>
        <a class="list-group-item" >
            <i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Other Users</a>
        <a class="list-group-item" >
            <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp; Course Scheduling</a>
        <a class="list-group-item" [routerLink]="['/exitsurveysview']">
            <i class="fa fa-table fa-fw" aria-hidden="true"></i>&nbsp; Exit Survey View</a>
        <a class="list-group-item" [routerLink]="['/gradseniorsurveysview']">
            <i class="fa fa-table fa-fw" aria-hidden="true"></i>&nbsp;Graduating Senior Survey View</a>
    </div>
</div>
